.container {
  text-align: center;
  padding: 300px;
  width: 100%;
  padding-top: 26px;
}
/*max-width: 36rem;
padding: 0 1rem;
margin: 3rem auto 6rem;
*/
/*
  AppBar
*/

.appBar {
   padding: 8px 16px;
   background-color: white;
   display: grid;
   grid-template-columns: auto 1fr auto;
   position: sticky;
   top: 0;
   z-index: 99;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
 }

 .appBrand {
   display: flex;
   align-items: center;
 }
 
 .appBrand h1 {
   color: #0070f3;
   text-transform: uppercase;
   font-size: 22px;
   user-select: none;
 }
 
 .appNavigation {
   transition: all 0.3s;
   padding: 6px;
   background-color: white;
   margin-right: 5%;
 }
  
 .appNavigation ul li .navItem {
   display: inline-block;
   text-decoration: none;
   color: black;
   padding: 6px;
   margin-bottom: 5px;
 }

 .appNavigation ul li .navItem:hover {
   text-decoration: underline;
   color: #0070f3;
 }

/* Responsive */
@media screen and (min-width: 320px) {
  .appNavigation {
    padding-left: 20%;
  }
  .appNavigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .appBrand h1 {
    font-size: 1.5em;
    width: 100%;
  }
}  

@media screen and (min-width: 650px) {

   .appBar {
     grid-template-columns: 1fr 1fr;
     padding: 8px 32px;
   }
 
   .appBrand h1 {
     font-size: 1.5em;
   }

   .appNavigation {
     margin-right: 20%;
     width: 100%;
   }
 
   .appNavigation ul li {
     display: inline-block;
     padding: 4px;
   }
 
   .appNavigation ul li .navItem {
     display: inline-block;
     width: 120px;
     text-align: center;
     margin: 0;
   }
 }
 
 @media screen and (min-width: 800px) {
   .app-bar .appBrand h1 {
     font-size: 2em;
   }
   .appNavigation {
    padding-left: 60%;
    width: 100%;
   }
   .appNavigation ul li .navItem {
    width: 100px;
   }
 }
